{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/register.css'%}">
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
            {% if form.username.errors %}
                <ul class="errorlist">
                    {% for err in form.username.errors %}
                        <li>{{ err }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
            {% if form.email.errors %}
                <ul class="errorlist">
                    {% for err in form.email.errors %}
                        <li>{{ err }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
                <ul class="errorlist">
                    {% for err in form.password1.errors %}
                        <li>{{ err }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
                <ul class="errorlist">
                    {% for err in form.password2.errors %}
                        <li>{{ err }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-group">
            <button type="submit">Register</button>
            <button type="reset">Reset</button>
        </div>
    </form>
    <a href="{% url 'login' %}">Login</a>
    </div>
</body>
</html>